## MAC OS
.DS_Store
.bundle
Gemfile.lock

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RubyMine
.idea

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
db/*.sqlite*
*.pid
